<!DOCTYPE html>
<html>
<head>
    <title>Scrumptious powered by <%- title %></title>
</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>


<!-- Login page -->
<div class="login-button">
    <a href="<%- loginUrl %>"><img src="images/fblogin.png"></img></a>
</div>
</body>
</html>