<!DOCTYPE html>
<html>
<head>


    <title>Scrumptious</title>
    <link rel="stylesheet"  href="css/jquery.mobile-1.2.0.css" />
    <link rel="stylesheet"  href="css/base.css" />
    <script>window.location.hash = '#menu'</script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.2.0.js"></script>
    <script src="js/mustache.js"></script>
    <script src="js/main.js"></script>

</head>
<body>
<!-- Facebook JavaScript -->
<div id="fb-root"></div>

<!-- Main menu page -->
<div data-role="page" id="menu" class="type-menu">
    <div data-role="header">
        <div class="ui-bar ui-bar-a">

            <span class="topnav-app">Welcome </span>

            <span id="user-identity"><%- session_FullName %> (FB_ID:<%- session_UserID %>)</span>
            <!-- menu trigger -->
            <a data-icon="arrow-d" data-iconpos="notext" href="#menu" data-rel="popup" data-position-to="#menu-anchor" data-transition="slidedown" data-inline="true" class="ui-btn-right">Menu</a>
        </div>
    </div><!-- /header -->


    <div data-role="content">
        <!-- menu position helper -->
        <div id="menu-anchor"></div>
        <!-- menu content -->
        <div id="menu" data-role="popup">
            <ul data-role="listview" data-inset="true">
                <li data-icon="false"><a id="logout" href="#login">Log Out</a></li>
            </ul>
        </div>
    </div>
    <div>
        The application content goes here.
    </div>
</div>
</body>
</html>
